@import 'https://fonts.googleapis.com/css?family=Comfortaa';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
    margin: 0;
}
*:after {
    margin: 0;
}
*:before {
    margin: 0;
}
html, body {
    height: 100%;
    font-family: 'Comfortaa';
    font-size: 12px;
    color: #213e57;
    margin: 0;
    padding: 0;
}
.comfortaa{
    font-family: 'Comfortaa';
}
hr{
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #354f65;
}
hr.full_width{
    margin-right: 0!important;
    margin-left: 0!important;
}
hr.marged{
    margin: 15px 7px!important;
}
hr.marged.hard{
    margin: 7px 30px!important;
}
hr.bright{
    border-color: #ecf0f4;
}
hr.blue{
    border-color: #c2d0db;
}
hr.soft{
    margin: 5px 5px!important;
}


div.row>div.top_row:before {
    vertical-align: top;
}
div.row>div.top_row {
    vertical-align: top;
}
div.row>div.bottom_row:before {
    vertical-align: bottom;
}
div.row>div.bottom_row {
    vertical-align: bottom;
}

.centrate>div.row{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.centrate>div.row>div:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.centrate>div.row>div {
    display: inline-block;
    vertical-align: middle;
}
div.centrate.row{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
div.centrate.row>div:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
div.centrate.row>div {
    display: inline-block;
    vertical-align: middle;
}

.flex_rel_container{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.flex_abs_container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.control_block{
    margin-bottom: 20px;
}
.header{
    width: calc(100% + 10px);
    height: 70px;
    background-color: #213e57;
    z-index: -1;
    position: relative;
    top: -20px;
    left: -10px;
}
.content{
    top: 20px;
    position: relative;
    height: calc(100vh - 90px);
    width: calc(100% - 20px);
    z-index: 30;
    min-width: 1150px;
    background-color: white;
    margin: 0 10px;
}
.content_wrapper{
    height: 100%;
}
footer{
    height: 22px;
    font-size: 11px;
    width: 100%;
    font-family: "Open Sans";
    color: #6e93b1;
    padding-left: 18px;
    z-index: -1;
}


.full_height{
    height: 100%;
    width: 100%;
    min-height: 650px;
    min-width: 800px;
}

.full_width{
    width: 100%;
}

.block_container{
    top: 0;
    height: calc(100% - 10px);
    left: 0;
    width: calc(100% - 10px);
    background-color: #213e57;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    color: #fff;
    margin: 5px;
    border-radius: 2px;
    position: relative;
}
.block_container a{
    color: white;
}

.middle{
    margin: 0 275px;
}
.avatar{
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
}
.avatar.edit:after{
    content: '';
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 4px 0 0 4px;
    background-image: url("../img/icons/camera.png");
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    box-sizing: content-box;
}
.avatar>img{
    width: 62px;
    height: 62px;
    display: inline-block;
    margin: 4px 0 0 4px;
    box-sizing: content-box;
    border-radius: 999px;
}
.avatar:before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 62px;
    height: 62px;
    background-color: transparent;
    border-radius: 70px;
    border: 4px solid #6bbbcf;
    z-index: 100;
    box-shadow: 0 0 0 7px rgba(107,187,207,.1);
    box-sizing: content-box;

    overflow: hidden;
}
.avatar.big{
    width: 100px;
    height: 100px;
}
.avatar.big>img{
    width: 112px;
    height: 112px;
    margin: 0;
    margin-left: -6px;
}
.avatar.edit.big:after{
    content: '';
    width: 112px;
    height: 112px;
    display: inline-block;
    margin: 4px 0 0 4px;
    border-radius: 999px;
    background-image: url(../img/icons/camera.png);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: -10px;
    top: -5px;
    box-sizing: content-box;
}
.avatar.big:before{
    width: 100px;
    height: 100px;
    border: 6px solid #6bbbcf;
    box-shadow: 0 0 0 11px rgba(107,187,207,.1);
    margin-left: -6px;
}
.avatar.no_border>img{
    width: 70px;
    height: 70px;
    margin: 0;
}
.avatar.no_border:before{
    border: none;
    width: 70px;
    height: 70px;
}

/* text */
h2 {
    color: white;
    font-size: 22px;
    font-family: 'Comfortaa';
    margin: 0!important;
}
h3 {
    color: white;
    font-size: 14px;
    font-family: 'Comfortaa';
    margin: 0!important;
}
h3.dark {
    color: #2d4b64;
    font-size: 24px;
}
span{
    font-family: "Open Sans";
}
p{
    font-family: "Open Sans";
    margin: 0;
    display: block!important;
}
.x_small{
    font-size: 8px!important;
}
.small{
    font-size: 11px!important;;
}
.medium{
    font-size: 14px!important;;
}
.bigger{
    font-size: 18px!important;;
}
.large{
    font-size: 48px!important;;
}
.white{
    color: #ffffff;
}
.dark{
    color: #213e57;
}
.bright{
    color: #6e93b1;
}
.danger{
    color: #fc5c5e;
    font-size: 15px;
}
.bolder{
    font-weight: bolder;
}
.underlined{
    border-bottom: 1px solid #213e57;
}
.underlined.white{
    border-bottom: 1px solid #fff;
}
.underlined.bright{
    border-bottom: 1px solid #6e93b1;
}



/* map */
.map-container{
    position: absolute;
    width: 100%;
    top: 35px;
    left: 0;
    height: calc(100% - 35px);
    border-radius: 2px;
    z-index: 10006;
    overflow: hidden;
}
#map {
    height: 100%;
    z-index: 10000;
}
.map_container{
    background: transparent!important;
    border-radius: 2px;
    /*overflow: hidden;*/
}

.gr_edit_panel{
    padding-top: 4px;
    position: absolute;
    z-index: 10010;
    background: white;
    width: 100%;
    top: 35px;
    height: 40px;
    display: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.gr_edit_table{
    width: 100%
}
.gr_edit_table td{
    text-align: center;
    vertical-align: middle;
}
.gr_edit_mode_black,
.choose_date_mode_black{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .5;
    display: none;
    z-index: 10090;
}

.black_bg{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .5;
    display: none;
    z-index: 10045;
}
.gr_button{
    cursor: pointer;
}
.map_container.gr_edit_mode .schedule_panel{
    display: none;
}
.map_container.gr_edit_mode .gr_edit_mode_black,
.choose_date_mode .choose_date_mode_black,
.map_container.gr_edit_mode .gr_edit_panel{
     display: block;
 }


.map_panel{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    display: block;
}

.map_panel>div.row{
    height: 8px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    text-align: center;
}
.map_panel>div.row>div:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.map_panel>div.row>div span.inner {
    display: inline-block;
    vertical-align: middle;
 }
.map_panel>div.row>div span.inner.control-cell {
    height: 25px;
}
label {
    margin: 0!important;
}
/* table layout */

.iTrq_table {
    height: 100%;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.iTrq_row {
    display: table-row;
    height: 1px;
}
.iTrq_col {
    display: table-cell;
}
.iTrq_fix-width{
    width: 280px;
}
.iTrq_fix-height{
    height: 167px;
}
.iTrq_flex-height{
    height: 100%;
}

.iTrq_line>div{
    padding: 0!important;
}

/* lines layout */

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iTrq_align-left{
    align-items: flex-start!important;
    justify-content: flex-start!important;
}

.iTrq_align-right{
    align-items: right!important;
    justify-content: right!important;
}

.small_spacing{
    line-height: 14px;
}

.medium_spacing{
    line-height: 18px;
}

.large_spacing{
    line-height: 22px;
}

.small_marge_top{
    display: inline-block;
    margin-top: 5px!important;
}

.medium_marge_top{
    display: inline-block;
    margin-top: 10px!important;
}

.large_marge_top{
    display: inline-block;
    margin-top: 15px!important;
}

.iTrq_line{
    width: 100%!important;
    margin: 0;
    padding: 0;
    text-align: left;
    box-sizing: border-box;
}
.padding_container{
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 15px 0 15px;
    height: 100%;
}

/* email list */
.emails-list{
    overflow: hidden;
}
.emails-list>div.row{
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
.emails-list>div{
    display: none!important;
}
.emails-list>div:nth-child(1),
.emails-list>div:nth-child(2),
.emails-list>div:nth-child(3){
    display: flex!important;
}
.opened-email-list .main_block{
    display: none;
}
.opened-email-list .shared_with_block{
    height: 100%;
}
.opened-email-list .emails-list>div{
    display: flex!important;
}
.add_user_panel{
    background: #1c364c;
    display: none;
}
.opened-email-list .add_user_panel{
    display: block;
}
.cancel_btn{
    display: none;
}
.opened-email-list .view_all_btn{
    display: none;
}
.opened-email-list .cancel_btn{
    display: inline-block;
}
.add_user_form{
    display: none;
}
.add_user_mode{
    padding-right: 5px;
}
.add_user_mode .add_user_btn{
    display: none;
}
.add_user_mode .add_user_form{
    display: block;
}
.add_user_input{
    margin: 0!important;
    width: 168px!important;
}

/* schedule */
.schedule_panel{
    display: block;
    position: absolute;
    top: 65px;
    height: calc(100% - 93px);
    width: 105px;
    right: 15px;
    background: white;
    z-index: 10050;
    border-radius: 2px;
}
.schedule_panel.choose_date_mode{
    z-index: 10090;
}
.calendar{
    display: none;
}

.schedule_panel.choose_date_mode .calendar{
    display: block;
}
.schedule_header{
    height: 35px;
}
.schedule_header>div.row{
    height: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}
.schedule_header>div.row>div:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.schedule_header>div.row>div span.inner {
    display: inline-block;
    vertical-align: middle;
}

.sch_data{
    display: table-cell;
    height: 100%;
    background: #fbfbfb;
}
.scroll_block{
    overflow: auto;
}
.schedule_data_container{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.schedule_air_container{
    position:absolute;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 10px 23px -1px rgba(0,0,0,.07);
}

.schedule_air_container>div.row{
    width: 90%!important;
    height: 30px;
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    text-align: center;
}
.schedule_air_container>div.row>div:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.schedule_air_container>div.row>div span.inner {
    display: inline-block;
    vertical-align: middle;
}

.schedule_item{
    cursor: pointer;
}

.schedule_item .active{
    color: #fc5c5e;
}
.schedule_item:hover .iTraq_icon.circle{
    box-shadow: 0 0 16px 5px rgba(0,0,0,.07);
    background-color: white;
}

.schedule_picker_container{
    display: inline-block;
    position: relative;
    width: 120px;
    top: -31px;
}

.schedule_button_container{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    z-index: 10080;
    text-align: center;
    padding-top: 8px;
}

.schedule_periods_container{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10075;
    padding: 46px 0 8px 0;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 2px;
    display: none;
}

.schedule_periods_container button,
.schedule_button_container button{
    padding-left: 0!important;
    padding-right: 0!important;
    margin: 7px 8px;
    width: calc(100% - 16px);
    text-align: center;

}

.schedule_picker_container.opened .schedule_periods_container{
    display: block;
}
.schedule_picker_container.custom_schedule_mode .black_bg,
.schedule_picker_container.fix_schedule_mode .black_bg{
    display: block;
}


.schedule_hint{
    position: fixed;
    top: 325px;
    right: 139px;
    background: white;
    border-radius: 2px;
    width: 200px;
    height: 80px;
    z-index: 10020;
    padding: 10px;
    box-shadow: 0 0 32px 12px rgba(0,0,0,.1);
    display: none;
}
.schedule_hint:before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 29px;
    right: -8px;
    border-left: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid #fff;
    transform: rotate(45deg);
}

.custom_schedule_panel,
.fix_schedule_panel{
    width: 460px;
    top: 52px;
    right: 0;
    position: absolute;
    height: 610px;
    padding: 10px;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 10100;
    display: none;
}
.custom_schedule_mode .schedule_button_container,
.fix_schedule_mode .schedule_button_container{
    z-index: 10000;
}
.custom_schedule_mode .custom_schedule_panel,
.fix_schedule_mode .fix_schedule_panel{
    display: block;
}

.sch_editor_header{
    margin-bottom: 10px;
}

.sch_timeline_container{
    width: 100%;
    height: 50px;
    background: #213e57;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sch_timeline_container .shadow{
    box-shadow: inset 0 12px 26px 0px rgba(0,0,0,.25);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10150;
}

.sch_timeline_container .period_indicator{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10140;
}
.time_marker_container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10160;
}
.periods_container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10140;
}

.custom_schedule_panel .ps-container > .ps-scrollbar-y-rail:before {
    width: 0!important;
}

.sch_timeline_container .time_marker{
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(255,255,255,.4);
    z-index: 10160;
}
.sch_timeline_container .time_marker:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: rgba(255,255,255,.98);
}
.sch_timeline_container .time_marker .text{
    color: white;
    font-size: 10px;
    width: 40px;
    height: 15px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: -20px;
}

.sch_period_editors_container{
    position: relative;
    height: 420px;
    margin-bottom: 20px;
}

.sch_period_editors_container .sch_editor_line{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #213e57;
    border-radius: 2px;
}
.sch_period_editors_container .empty_line{
     width: 100%;
     height: 60px;
     padding: 10px;
     background-color: white;
     border-radius: 2px;
     border: 1px dashed #6e93b1;
    text-align: center;
    padding-top: 20px;
 }

.sch_editor_line .sch_control_container{
    width: 100%;
    padding: 6px;
    background: #2d4f6c;
    text-align: center;
}
.sch_period_editors_container>div.empty_line{
    display: none;
}
.sch_period_editors_container.is_empty>div.empty_line{
    display: block;
}


/* devices list */
.show_all_devices{
    padding: 7px 0 7px 0;
    border-bottom: 1px solid #354f65;
}
.device_line{
    width: calc(100% - 12px)!important;
    height: 105px;
    padding: 5px 0 10px 0;
    border-radius: 2px;
    cursor: pointer;
    margin: 5px 7px 5px 5px;
}
.device_line:hover{
    background: #2d4f6c;
}
.device_avatar{
    display: inline-block;
    margin-top: 5px;
}
.main_block_header{
    height: 100px;
}
.checkbox_device{
    width: 25px!important;
    height: 100%;
}
/* user panel */
.user_panel{
    margin-top: -20px;
    margin-bottom: 10px;
}
.hide_user{
    height: 25px;
}
.hide_user .user_panel{
    display: none!important;
}

.user_panel .info_button{
    width: 37px;
    height: 69px;
    display: block;
    margin-bottom: -10px;
    position: relative;
}

.user_info_mode_black{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .5;
    display: none;
    z-index: 10045;
}
.user_info_hint{
    position: absolute;
    top: 78px;
    left: 0px;
    display: none;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 80px;
    width: 270px;
    z-index: 10050;
    padding: 10px;
}
.user_info_hint:before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: -8px;
    left: 6px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #fff;
}
.show_info_mode .user_info_hint,
.show_info_mode .user_info_mode_black,
.schedule_picker_container.opened .black_bg{
    display: block;
}

/*device panel */
.device_panel{
    position: relative;
    top: 35px!important;
    height: calc(100% - 45px)!important;
}
.device_panel .edit_button{
    position: relative;
    top: -7px;
    left: 2px;
    cursor: pointer;
}
.device_panel .device_main_avatar{
    position: relative;
    left: -3px;
}
.device_panel .battery_level{
    position: relative;
    top: 6px;
    right: 2px;
}
.device_panel .device_head_line{
    position: relative;
    top: -25px;
    height: 110px;
}
.device_panel .edit_mode{
}
.device_panel.edit_mode .edit_button{
    display: none;
}
.device_panel .close_button{
    display: none!important;
    top: -4px;
}
.device_panel .edit_property_line{
    display: none!important;
}
.device_panel.edit_mode .edit_property_line{
    display: block!important;
}
.device_panel.edit_mode .close_button{
    display: inline-block!important;
}
.device_panel.edit_mode .main_property_line{
    display: none;
}
/* properties panel */
.properties_panel:last-child hr{
    display:none;
}

.template{
    display: none;
}