.iTraq_icon{
    display: inline-block;
    background-repeat: no-repeat;
    width: 0;
    height: 0;
    cursor: pointer;
}
/* 37x37 icons*/
.iTraq_icon.clock{
    width: 37px;
    height: 37px;
    background-image: url("../img/icons/clock.png");
    background-size: 37px 37px;
}
.iTraq_icon.user{
    width: 37px;
    height: 37px;
    background-image: url("../img/icons/user.png");
    background-size: 37px 37px;
}
.iTraq_icon.pull-up{
    margin-top: -3px;
}
/* 22x22 icons*/

.iTraq_icon.info{
    width: 22px;
    height: 22px;
    background-image: url("../img/icons/info.png");
    background-size: 22px 22px;
}
.iTraq_icon.battery{
    width: 22px;
    height: 22px;
    background-image: url("../img/icons/battery.png");
    background-size: 22px 22px;
}
/*icons 20x20*/
.iTraq_icon.calendar{
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/calendar.png");
    background-size: 16px 16px;
}
.iTraq_icon.cell_id{
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/cell_id.png");
    background-size: 16px 16px;
}
.iTraq_icon.cell_id.white{
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/Cell-White.png");
    background-size: 16px 16px;
}
.iTraq_icon.gps{
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/gps.png");
    background-size: 16px 16px;
}
.iTraq_icon.gps.white{
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/GPS-white.png");
    background-size: 16px 16px;
}

.iTraq_icon.no_connection{
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/no_connection.png");
    background-size: 16px 16px;
}

.iTraq_icon.arrow-right{
    width: 8px;
    height: 14px;
    background-image: url("../img/icons/arrow.png");
    background-size: 8px 14px;
}
.iTraq_icon.arrow-left{
    width: 8px;
    height: 14px;
    background-image: url("../img/icons/arrow.png");
    background-size: 8px 14px;
    transform: scale(-1,1);
}

.iTraq_icon.circle{
    width: 35px;
    height: 35px;
    border-radius: 999px;
    border-style: solid;
    border-width: 1px;
    border-color: #213e57;
    background-color: #fbfbfb;
}

.iTraq_icon .iTraq_icon{
    margin: 8px 0 0 1px;
}

.iTraq_icon.circle.disabled{
    border-color: #dfdfdf;
}
.iTraq_icon.circle.bright{
    border-color: #708aa9;
}
.iTraq_icon.circle.active{
    border-color: #fc5c5e;
    background-color: #fc5c5e!important;
}