div.calendar{
    position: absolute;
    width: 280px;
    border-radius: 3px;
    box-shadow: 2px 2px 11px 4px rgba(0,0,0,.15);
    padding: 10px;
    top:0;
    right: calc(100% + 10px);
    z-index: 10100;
    background-color: #fff;
}
.calendar .month_line{
    width: 100%;
    height: 20px;
    font-family: 'Comfortaa';
    color: #213e57;
}
.calendar .month_panel{
    height: 23px;
}
.calendar .days_of_week_line{
    color: #ff5a5a;
}
.calendar .days_of_week_line{
    color: #ff5a5a;
}
.calendar .cal_line>div{
    text-align: center;
    width: 36px;
}
.calendar .days{
    width: 259px;
    color: #213e57;
    font-family: "Open Sans";
}

.days>.cal_line{
    height: 40px;
    margin-left: -3px;
    padding-left: 3px;
    width: calc(100% - 1px)!important;
}
.days>.cal_line.active{
    background: #c2d0db;
    border-radius: 999px;
}
.days>.cal_line>div{
    height: 40px;
    width: 36px;
}
.days>.cal_line>div>.date_cell{
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 999px;
    padding-top: 11px;
    margin-left: -2px;
    cursor: pointer
}
.days>.cal_line>div>.date_cell:hover,
.days>.cal_line>div>.date_cell:active{
    color: #ff5a5a;
    transition: all .2s linear;
}
.days>.cal_line>div.active>.date_cell{
    color: white;
    background: #213e57;
    font-weight: normal;
}
.days>.cal_line>div.today:before{
    content: 'today';
    position: absolute;
    font-size: 8px;
    color: #213e57;
    width: 100%;
    bottom: 4px;
    text-align: center;
    left: 0;
}
.days>.cal_line>div.active.today:before{
    color: white
}
.days .anotherMonth{
    color: #c2d0db!important;
}