/*switcher*/

input[type='checkbox'].custom_toggle{
    display: none;
}

input[type='checkbox'].custom_toggle + label{
    box-sizing: content-box!important;
    display: inline-block;
    position: relative;
    width: 65px;
    height: 25px;
    border-radius: 14px;
    font-family: 'Comfortaa';
    font-weight: normal!important;
    background-color: #c2d0dc;
    color: white;
    font-size: 12px;
    transition: background-color .2s linear;
    cursor: pointer;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
input[type='checkbox'].custom_toggle:checked + label{
    box-sizing: content-box!important;
    background-color: #799dba;
    transition: background-color .2s linear;
}
input[type='checkbox'].custom_toggle + label>div{
    box-sizing: content-box!important;
    position: absolute;
    width: calc(100% - 25px);
    height: 100%;
    vertical-aligh: middle;
    padding-top: 4px;
    padding-right: 3px;
    text-align: center;
    opacity: 0;
    transition: opacity .2s linear;
    z-index: 90;
}
input[type='checkbox'].custom_toggle + label>[circle]{
    box-sizing: content-box!important;
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
    height: 100%;
    width: 25px;
    transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}
input[type='checkbox'].custom_toggle:checked + label>[circle]{
    box-sizing: content-box!important;
    width: 100%;
    transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}
input[type='checkbox'].custom_toggle + label>[circle]:before{
    box-sizing: content-box!important;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    border: 2px;
    border-style: solid;
    border-color: #c2d0dc;
    border-radius: 14px;
    background-color: white;
    z-index: 100;
    opacity: 1;
    transition: all .2s linear;
}
input[type='checkbox'].custom_toggle:checked + label>[circle]:before{
    box-sizing: content-box!important;
    border-color: #799dba;
    transition: all .2s linear;
}

input[type='checkbox'].custom_toggle:checked + label>[circle]{
    box-sizing: content-box!important;
    transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}
input[type='checkbox'].custom_toggle + label>div[on]{
    box-sizing: content-box!important;
    padding-right: 25px;
}
input[type='checkbox'].custom_toggle + label>div[off]{
    box-sizing: content-box!important;
    padding-left: 25px;
}
input[type='checkbox'].custom_toggle:checked + label>div[on]{
    box-sizing: content-box!important;
    opacity: 1;
    transition: opacity .2s linear;
}
input[type='checkbox'].custom_toggle:not(:checked) + label>div[off]{
    box-sizing: content-box!important;
    opacity: 1;
    transition: opacity .2s linear;
}


/* buttons */
button.iTraq_btn{
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 999px;
    color: #7a9db9;
    border: 1px solid #7a9db9;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
button.iTraq_btn:active{
    box-shadow: inset 1px 1px 0 1px rgba(0,0,0,.1);
}

button.iTraq_btn:hover{
    border-color: #597D99;
    color: #597D99;
}

button.iTraq_btn.btn_default{
    background-color: white;
}

button.iTraq_btn.btn_default:hover{
    border-color: #597D99;
    color: #597D99;
}

button.iTraq_btn.btn_info{
    background-color: #7a9db9;
    border-color: #7a9db9;
    color: white;
}
button[disabled].iTraq_btn.btn_info{
    background-color: #ededed;
    border-color: #dfdfdf;
    color: #cccccc;
}
button[disabled].iTraq_btn.btn_info:hover   {
    background-color: #ededed;
    border-color: #dfdfdf;
    color: #cccccc;
}

button.iTraq_btn.btn_info:hover {
    background-color: #597D99;
    border-color: #597D99;
}

button.iTraq_btn.btn_danger{
    background-color: #fc5c5e;
    border-color: #fc5c5e;
    color: white;
}

button.iTraq_btn.btn_danger:hover {
    background-color: #e30009;
    border-color: #e30009;
}
button.iTraq_btn.bold{
    font-weight: bolder;
}

button.iTraq_btn.circle{
    padding: 3px 0 0 2px;
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

button.iTraq_btn.btn_wide{
    padding: 6px 30px;
}
button.iTraq_btn.btn_large{
    padding: 8px 20px;
    margin-bottom: 10px;
}
button.iTraq_btn.btn_small{
    padding: 3px 20px;
}
button.iTraq_btn.no_uppercase{
    text-transform: none;
}


/* checkboxes */
input[type="checkbox"].iTraq_checkbox{
    display:none;
}


input[type="checkbox"].iTraq_checkbox+label{
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #c1cfda;
    border-radius: 4px;
    cursor: pointer;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

input[type="checkbox"].iTraq_checkbox + label:after{
    content: '';
    display: block;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-left: 7px;
    margin-top: 4px;
}
input[type="checkbox"].iTraq_checkbox:not(:checked) + label:after{
    opacity: 0;
    transition: all .1s linear;
}
input[type="checkbox"].iTraq_checkbox:checked + label:after{
    opacity: 1;
    transition: all .1s linear;
}

input[type="checkbox"].iTraq_checkbox.dark+label{
    background-color: #153047;
}
input[type="checkbox"].iTraq_checkbox.dark:checked+label{
    background-color: #13293c;
}
input[type="checkbox"].iTraq_checkbox.dark + label:after{
    border-color: #7a9db9;
}

/* checkmarks */
.checkmark {
    display: inline-block;
    margin-left: 2px;
}
.checkmark:after {
    content: '';
    display: block;
    width: 6px;
    height: 9px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkmark.bright:after {
    border-color: #708aa9;
}

/* crosses */
.cross{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
    cursor: pointer;
}

.cross:after{
    content: '';
    display: block;
    width: 10px;
    height:  10px;
    border-style: solid;
    border-color: #597d99;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: 2px;

    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;;
    box-sizing: content-box!important;;
}
.cross:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #597d99;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    position: absolute;
    top: 9px;
    left: 2px;

    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;;
    box-sizing: content-box!important;;
}
/* BEGIN cross hover */

.cross:hover:after{
    border-color: #fc5c5e;
}
.cross:hover:before{
    border-color: #fc5c5e;
}
/*END cross hover */
.cross.small{
    width: 10px;
    height: 10px;
}

.cross.small:after{
    width: 6px;
    height:  6px;
    top: -3px;
    left: 0px;
}

.cross.small:before{
    width: 6px;
    height:  6px;
    top: 5px;
    left: 0px;
}

.cross.red:after{
    border-color: #fc5c5e;
}
.cross.red:before{
    border-color: #fc5c5e;
}
.cross.streight:after{
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(0deg);
    width: 7px;
    height: 7px;
    top: 1px;
    left: 0;
}
.cross.streight:before{
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(180deg);
    width: 7px;
    height: 7px;
    top: 8px;
    left: 7px;
}
/* range */

.range-slider {
    width: 100%;
    height: 8px;
    margin:0 auto 1em;
    position:relative;
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.range-slider:before {
    content:"";
    display:block;
    position:absolute;
    top:9px;
    left:0;
    width: 100%;
    height:2px;
    background-color:#c2d0db;
}
.range-slider span {
    display:block;
    height: 2px;
    position:relative;
    z-index:2;
    cursor:pointer;
    text-align: right;
    background-color: #7a9db9;
    top: 9px;
}
.range-slider span:before {
    content: '';
    display:inline-block;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    position:relative;
    right: 0px;
    z-index:2;
    background-image: url("../../img/icons/slider.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left top;
    cursor: pointer;
    margin-right: -10px;
    top: -9px;
}

/* form elements */
/* add other types here */
form.iTraq input[type="text"],
form.iTraq input[type="number"],
form.iTraq input[type="password"],
form.iTraq input[type="email"],
form.iTraq input[type="tel"]{
    color: white;
    font-size: 14px;
    font-family: "Open Sans";
    border: none;
    padding: 0 0 6px 0;
    margin: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    width: 200px;
    height: 25px;
    transition: border-color .2s linear;
    margin: 0 5px;
}

form.iTraq input[type="text"]:invalid,
form.iTraq input[type="number"]:invalid,
form.iTraq input[type="password"]:invalid,
form.iTraq input[type="email"]:invalid,
form.iTraq input[type="tel"]:invalid{
    border-bottom: 1px solid #476e8c!important;
}
form.iTraq textarea:focus,
form.iTraq input:focus{
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7a9db9;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #7a9db9;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #7a9db9;
}
:-moz-placeholder { /* Firefox 18- */
    color: #7a9db9;
}