.minMaxRange{
    display: inline-block;
    position: relative;
    width: calc(100% - 30px);
    height: 2px;
    margin: 15px 15px;
    background: #c2d0db;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    opacity: 0;
}

.minMaxRange.ready{
    opacity: 1;
    transition: opacity .1s linear;
}
.minMaxRange.with_text_grid{
    margin-bottom: 35px;
}
.minMaxRange.dark{
    background: #213e57;
}
.minMaxRange:after{
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: transparent;
    z-index: 10200;
}
.minMaxRange>.slider{
    display: block;
    position: absolute;
    top: 0;
    height: 2px;
    /* changable */
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10200;
    background-color: #7a9db9;
}
.minMaxRange>.pull_circle{
    display: block;
    position: absolute;
    left: 0;
    height: 1px;
    width: 1px;
    z-index: 10300;
}
.minMaxRange>.pull_circle:after{
    content: '';
    display: block;
    position: relative;
    top: -11px;
    left: -11px;
    height: 24px;
    width: 24px;
    border-radius: 999px;
    background: green;
    cursor: pointer;
    background-color: #597d99;
    background-image: url(../../img/icons/slider.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
}


.grid_container{
    position: absolute;
    z-index: 10270;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
}
.grid_container>div{
    position: absolute;
    width: 1px;
    height: 4px;
    top: -1px;
    background: #213e57;
    z-index: 10270;
}

.grid_container>div .mark_text{
    position: absolute;
    top: 20px;
    width: 30px;
    left: -15px;
    text-align: center;
}
.grid_container>div:first-child .mark_text{
    text-align: left;
    left: 0;
}
.grid_container>div:last-child .mark_text{
    text-align: right;
    left: auto;
    right: 0;
}